.create-inactive{
  display: none;
}
.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .create label {
    text-align: left;
    display: block;
    font-weight: bold;
  }
  .create h2 {
    font-size: 20px;
    color: #296d98;
    margin-bottom: 30px;
  }
  .create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
  .create button {
    background: #296d98;
    color: #fff;
    border: 0;
    padding: 10px;
    
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 1em;
    margin-bottom: 50px;
  }
  input:placeholder-shown {
    font-style: italic;
    opacity: 50%;
 }

 h1 {
     text-align: center;
     font-weight: bold;
     padding: 1em;
 }

 .prop {
     padding: 0.75em;
 }

 body {
   background: oldlace;
   background-color: oldlace;
 }