.dropdown-active {
    width: 200px;
    position: absolute;
    top: 50px;
    list-style: none;
    text-align: start;
}

.dropdown-active li{
    background: #1999ff;
    cursor: pointer;
}

.dropdown-active li:hover{
    background: #5cabff;
}

.dropdown-inactive{
    display: none;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
}