.footer {
    margin-top: 10em;
    background-image: url("https://images.unsplash.com/photo-1579547621309-5e57ab324182?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2500&q=800" );
    
}

.foot-text{
    color:#463352;
    padding-left: 3em;
    
}


body{
    margin-bottom: 5em;
}