.footer {
    
    background-image: url("https://images.unsplash.com/photo-1579547621309-5e57ab324182?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2500&q=800" );
    height: 55px;
    
    /* position: relative; */
    bottom: 0;
    width: 100%;
    
}

.foot-text{
    color:#463352;
    padding-left: 3em;
    
    
}

.foot-links{
    padding-top: 1em;
}

body{
    margin-bottom: 2em;
    min-height: 100%;
}