

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #296d98;
}
.navbar .links {
  margin-left: 1em;
  display: inline;
}
.navbar a {
  margin-left: 1em;
  text-decoration: none;
  /* padding: 6px; */
}
.navbar a:hover {
  color: #296d98;
}
.header-item{
  text-align: center;
}