

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #296d98;
}
.navbar .links {
  margin-left: 1em;
  display: inline;
}
.navbar a {
  margin-left: 1em;
  text-decoration: none;
  /* padding: 6px; */
}
.navbar a:hover {
  color: #296d98;
}
.header-item{
  text-align: center;
}

ul.dropdown-active {
  width: 200px;
  position: absolute;
  /* top: 50px; */
  /* list-style: none; */
  text-align: center;
  border-radius: 15px 50px 30px;
  padding: none;
  
  
}

li{
  padding: none;
}

.drop{
  border-radius: 15px 50px 30px;
}

.dropa{
  
}

ul.dropdown-active.drop {
  padding: none;
  border-radius: 15px 50px 30px;
}



.dropdown-active li{
  
  cursor: pointer;
  padding-right: 2px;
  border-radius: 15px 50px 30px;

}

.dropdown-active li:hover{
  background: #f5b8cf;
  box-shadow:
       inset 0 -3em 3em rgba(119, 15, 119, 0.205),
             0.3em 0.3em 1em rgba(119, 15, 119, 0.205);
  /* background: #7d4b8a; */
  text-decoration-color: #f2f2f2;
}

.dropdown-inactive{
  display: none;
}

.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color:#463352;
  padding-bottom: 16px;
  padding-top: 16px;
}

.header{
  /* background-color: #dc96ba; */
  margin-bottom: 3em;
  background-image: url("https://images.unsplash.com/photo-1579547621309-5e57ab324182?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2500&q=800" );
  border: none;
  box-shadow:
       inset 0 -3em 3em rgba(119, 15, 119, 0.205),
             0.3em 0.3em 1em rgba(63, 4, 63, 0.205);
  
  
}

.head-item{
  color:#463352;
  /* font-weight: bold; */
}

.head-item{

}

ul {
  padding: none;
}

.logout{
  text-align: center;
  padding-left: 2em;
  padding-bottom: 13px;
  
}

ul.drop{
  border-radius: 15px 50px 30px;
  /* background: #dc96ba; */
  background-image: linear-gradient(to bottom, #dc96ba, #7d4b8a);
  /* background-image: linear-gradient(to bottom, #fedae8, #7d4b8a); */

  
}

li.dropdown-item {
    /* padding: 0px; */
    padding-left: 0;
    padding-right: 4em;
}

.nav-icon {
  background-color: transparent;
  border: none;
  size: 20px 20px;
  
}

.btn-seaco {
  text-decoration-color: #463352;
  color: #463352;
}
