

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #296d98;
}
.navbar .links {
  margin-left: 1em;
  display: inline;
}
.navbar a {
  margin-left: 1em;
  text-decoration: none;
  /* padding: 6px; */
}
.navbar a:hover {
  color: #296d98;
}
.header-item{
  text-align: center;
}

.dropdown-active {
  width: 200px;
  position: absolute;
  top: 50px;
  list-style: none;
  text-align: left;
}

.dropdown-active li{
  background: #1999ff;
  cursor: pointer;
}

.dropdown-active li:hover{
  background: #5cabff;
}

.dropdown-inactive{
  display: none;
}

.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}