.mask {
    background-color: rgba(251, 251, 251, 0.15)
}

/* .courses {
    width: 200px;
} */

div.courses {
    /* width: 350px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    height: 32em;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    box-shadow:
       inset 0 -3em 3em rgba(119, 15, 119, 0.205),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(119, 15, 119, 0.205);

             border: blanchedalmond;
    
  }

  .All-courses {
      align-items: center;
  }

  .card-img-top {
      width: 100%;
      height: 12em;
      /* margin-top: 10px; */
  }

  .enroll-card {
      height: 10em;
      overflow: hidden;
      margin-top: 1em;
      margin-bottom: 1em;
      box-shadow:
      inset 0 -3em 3em rgba(119, 15, 119, 0.205),
            0 0  0 2px rgb(255,255,255),
            0.3em 0.3em 1em rgba(119, 15, 119, 0.205);

      border: blanchedalmond;
      background-color: #5a156e;

  }

  .enroll-card.enroll-card-img{
      width: auto;
      height: 10em;
     object-fit: contain;
     overflow: hidden;
     opacity: 80%;
     
     
     

  }

.enroll-card-text{
      text-decoration-color: black;
      color: #5a156e;
  }

  .enroll-card-title{
    text-decoration-color: black;
    color:#463352;
    font-weight: bold;
    
}

.jumbotron {
    box-shadow:
       inset 0 -3em 3em rgba(119, 15, 119, 0.205),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(119, 15, 119, 0.205);
    
}

.student {
    background-image: url(../images/jumbotron-01.png);
    background-size: cover;
}

h1.display-4{
    padding: 0;
    color:#463352;
    font-weight: bold;

}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    margin-top: 0px;
    padding: 0px 0px;
    
}

.card-explore{
    box-shadow:
       inset 0 -3em 3em rgba(119, 15, 119, 0.205),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(119, 15, 119, 0.205);
}

.explore-title{
    color: #463352;
    font-weight: bold;

}

.img-square-wrapper {
    max-height: 15em;
    max-width: 20em;
    object-fit: contain;
    overflow: hidden;
    
}

.explore-cards {
    margin-bottom: 5em;
    
}

body {
    /* background-image: url(../images/bg-home.png); */
    /* background-color: rgb(184, 154, 184); */
    background-color: ghostwhite;
}

.btn-course{
    background-color: rgb(85, 31, 82);
    border: 0px;
}

